.container .title {
  background-image: url(../imagenes/pattern.jpeg);
  font-family: helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

h2 {
  height: 100%;
  width: 105;
  border: 5px;
  font-family: helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  

}

.Paint h2 {
  background-color: skyblue;
}

.Frames h2 {
  background-color: lightcoral;
}

.Brushes  h2 {
  background-color: mediumspringgreen;
}

a {
  color: blue;
  font-weight: bold;
}