h1 {
    font-family: "Rubik Doodle Shadow";
    font-size: 50px;
}

h2 {
    font-family: "Shadows Into Light";
    font-size: 40px;
}

h3 {
    font-family: "Swanky and Moo Moo";
    font-size: 25px;
}

/*Fuentes*/

.primaria {
    font-family: "Rubik Doodle Shadow";
    font-size: 50px;
    
      
}
.primaria #cursiva {
    font-style: oblique;
}

.primaria #negrita {
    font-weight: bolder;
}

.secundaria {
    font-family: "Shadows Into Light";
    font-size: 40px;
}

.secundaria #cursiva {
    font-style: oblique;
}

.secundaria #negrita {
    font-weight: bold;
}

.terciaria {
    font-family: "Swanky and Moo Moo";
    font-size: 25px;  
}

.terciaria #cursiva {
    font-style: oblique; 
}

.terciaria #negrita {
    font-weight: bold;
}
/* pagina en general*/

.cajas {
    background-color: white;
    margin-top: 10%;
    padding:100px;
    width: 80%;
    height: 40%;
    
    
}

body {
    background-color: beige;
    
}

.titulo {
    font-family: "Rubik Doodle Shadow";
    font-size: 50px;
}

/*paleta de colores*/

.caja-azul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 25px;
    height: 300px;
    width: 500px;
    
}

.azul-marino {
    background-color: rgb(0, 0, 150);
    
}
.azul-normal {
    background-color: rgb(0, 0, 180);
}

.azul-cielo {
    background-color: rgb(61, 61, 233);
}

.azul-pastel {
    background-color: rgb(88, 106, 204);
}